[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/SDL"]
	path = libs/SDL
    url = https://github.com/libsdl-org/SDL
    branch = SDL2
[submodule "libs/SDL_image"]
	path = libs/SDL_image
    url = https://github.com/libsdl-org/SDL_image
    branch = SDL2
